<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form action="" method="get">
        <label for="title">
            <input type="text" name="title" id="">
        </label>
        <label for="author">
            <input type="text" name="author" id="">
        </label>
        <label for="ISBN">
            <input type="text" name="isbn" id="">
        </label>
        <label for="URL">
            <input type="text" name="url" id="">
        </label>
        <label for="description">
            <input type="text" name="description" id="">
        </label>
        <label for="bookshelf">
            <input type="text" name="bookshelf" id="">
        </label>
        <button>Add to DataBase</button>
    </form>
</body>

</html>